
body{
    text-align: center;
}

li{
    list-style: none;
}

h1, h2{
    text-align: center;
}


p{
    text-align: center;
}

h3{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    
}

.obrazy > a >img{
    width: 100px;
    height: 100px;
    
}

img{
    border-radius: 10px;
    transition: transform 0.5s ease;    /* dodanie przybliżenia */
}

img:hover{
    transform: scale(1.1);  /* dodanie przybliżenia o 10% */
}

.programy >ul>li> img{
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
}
.dark-mode a{
    color: #e2e2e2;
}
.dark-mode  img{
    background-color: white;

  }

  