


.prawo-fraktal{
      float: right; 
      text-align: center;
      vertical-align: top;
      width: 40%;               
      position: relative;
      top:  90px;              
      
}

.prawo-fraktal > img{
    position: relative;
    width: 350px;
    transition: transform 0.5s ease;   
}

.lewo-fraktal {
      text-align: left;
      float: left;
      vertical-align: top;
      width: 60%;
      
}

#trojkat{
    transform: rotate(180deg);
}
.draw_sierpinski {
    display: grid;
    place-items: center; /* wyśrodkowanie w obu kierunkach */
}
#draw_sierpinski {
    position: relative;
    width: 300px;
    height: 350px;
}
#reset {
    position: absolute;
    bottom: -20;
    right: 0;
    background-color: #5a635d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px;
}
.dark-mode #reset{
    background-color: white;
    color: black;
}
#iteracja{
    position: absolute;
    bottom: -20;
    left: 0;
    background-color: #5a635d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: px;
}
.dark-mode #iteracja{
    background-color: white;
    color: black;
}
#reset:hover{
    transform: scale(1.1); 
}
#iteracja:hover{
    transform: scale(1.1); 
}
.center{
    text-align: center; 
}


.triangle, .Krzywa, .Mandelbrot, .drzewo, .dywan, .Smok-Heighwaya, .Krzywa-Levy, .Kostka-Mengera, .Julii, .Weierstrass{
    text-align: left;
    float: left;
    vertical-align: top;
    width: 60%;
}
.triangle-picture, .Krzywa-picture, .Mandelbrot-picture, .drzewo-picture, .dywan-picture, .Smok-Heighwaya-picture, .Krzywa-Levy-picture, .Kostka-Mengera-picture, .Julii-picture, .Weierstrass-picture{
    float: right;
    text-align: center;
    vertical-align: top;
    width: 40%;               
    position: relative;
    top:  90px;               
}

.triangle-picture > img{
    width: 350px;
}
.Krzywa-picture > img{
    width: 350px;
    position: relative;
    top: 20px;
}
.Etapy > img{
    width: 200px;
}
.Julii-picture > img{
    width: 350px;
    border-radius: 10px; 
}
.Weierstrass-picture > img{
    width: 350px;
    border-radius: 10px;  
    
}
.Mandelbrot-picture > img{
    width: 350px;
}
.drzewo-picture > img{
    width: 350px;
}
.dywan-picture > img{
    width: 350px;
    content: url('../obrazy/Sierpinski_carpet_light.png');

}
.dark-mode .dywan-picture img{
    content: url('../obrazy/sierpinski_carpet_dark.png');
    width: 350px;
}

.Smok-Heighwaya-picture > img{
    width: 350px;
    border-radius: 10px;
}
.Krzywa-Levy-picture > img{
    width: 350px;
    border-radius: 10px; 
}
.Kostka-Mengera-picture > img{
    width: 350px;
    border-radius: 10px;  
    
}

.trojkat_tryb img {
    content: url('../obrazy/SIrpinski_triangle_light.svg');
    width: 350px;
}
.dark-mode .trojkat_tryb img{
    content: url('../obrazy/SIrpinski_triangle_dark.svg');
    width: 350px;
}
.samopod-wybor img{
    content: url('../obrazy/fract1.png');
}
.dark-mode .samopod-wybor img{
    content: url('../obrazy/fract0.png');
}

.computer{
    display: inline-block;
}
.computer > img{
    width: 400px;
    border-radius: 10px;
    height: 300px;
}

.real{
    display: inline-block;
}
.real > img{
    width: 400px;
    border-radius: 10px;
    height: 300px;
}

.definitionimg {
    position: relative;
    display: inline-block; 
    margin-right: 10px; 
    margin-bottom: 10px; 
    text-align: right;
}

.definitionimg .definition-text {
    display: inline-block;
}
.definitionimg:hover .definition-text { 
    text-decoration: underline; 
}

.definitionimg .definition-tooltip {
    position: absolute; 
    top: 0; 
    left: 100%; 
    width: 310px; 
    padding: 10px; 
    background-color: white; 
    border: 1px solid black; 
    font-size: medium; 
    text-align: justify; 
    display: none; 
    background-repeat: no-repeat; 
    z-index: 1; 
    margin-right: 110px;
}

.definitionimg:hover .definition-tooltip {
    display: block; 
}

.definitionimg:hover {
    cursor: pointer; 
    text-decoration: underline; 
}

.definition-text > u {
    text-decoration: underline;
    text-decoration-color: rgb(23, 75, 25);
}

.definitionimg::before {
    content: "?"; 
    position: absolute;
    top: -8px; 
    right: -7px; 
    font-size: 20px; 
    color: #174626; 
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
}
.definitionimg:hover::before {
    opacity: 1; 
}

.definitionimg .definition-tooltip {
    background-position: top right; 
    padding-right: 230px; 
    border-radius: 10px; 
    left: 0; 
    top: 100%; 
}
.definitionimg[data-definition="Mandelbrot"] .definition-tooltip {
    background-image: url('../obrazy/Mandelbrot.jpg');
    background-size: 230px; 
}
.definitionimg[data-definition="Weierstrass"] .definition-tooltip {
    background-image: url('../obrazy/Weierstrass.jpg');
    background-size: 230px; 
}
.definitionimg[data-definition="Cantor"] .definition-tooltip {
    background-image: url('../obrazy/Cantor.jpg');
    background-size: 220px; 
}
.definitionimg[data-definition="Sierpinski"] .definition-tooltip {
    background-image: url('../obrazy/Sierpinski.jpg');
    background-size: 230px; 
}
.definitionimg[data-definition="Koch"] .definition-tooltip {
    background-image: url('../obrazy/Koch.jpg');
    background-size: 230px; 
}
.definitionimg[data-definition="Menger"] .definition-tooltip {
    background-image: url('../obrazy/Menger.jpg');
    background-size: 230px; 
}
.definitionimg[data-definition="Paproc"] .definition-tooltip {
    background-image: url('../obrazy/paproc.png');
    background-size: 230px; 
}
.definitionimg[data-definition="Juli"] .definition-tooltip {
    background-image: url('../obrazy/Gustav_Herglotz\,_Gaston_Julia.jpeg');
    background-size: 230px; 
}

.definition {
    position: relative;
}
.definition::after {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    top: 30px;  
    left: 0;
    padding: 5px;
    width: 250px;   
    background-color: white;
    border: 1px solid black;
    text-align: center;
    z-index: 1;
    font-size: medium;

  } 
.definition:hover::after { 
    display: block;
    color: black;
    font-weight: normal;
    border-radius: 5px;
}
.definition:hover {
    cursor: pointer;
    text-decoration: underline;
}
.definition > u {
    text-decoration: underline;
    text-decoration-color: rgb(23, 75, 25);
}
.definition::before {
  content: "?"; 
  position: absolute;
  top: -8px; 
  right: -7px;
  font-size: 20px; 
  color: #174626; 
  opacity: 0; 
  transition: opacity 0.3s ease-in-out; 
}
.definition:hover::before {
  opacity: 1; 
}


.hover-text {
    display: none;
}
  
.hover:hover + .hover-text {
    display: inline;
}