body{
    background-color: white;
    margin: 0 !important;
}
#wrapper{
    width: 100%;
}
#header{
    padding: 10px;
    width: 100% 0;
    background-color:  #1b1b1b;
}
/*stylizacja trojkata obok log*/
#myCanvas {
  float: left;
  margin-right: -10px;
}

#logo{
  display: flex;
  align-items: center;
    font-family: 'Rubik Maze', cursive;
    font-size: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 885px;
    color: rgb(255, 255, 255);
}
#content{
    padding: 20px 0;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
/*-------------KOLORY NAWIGACJI-------------*/
.nav{
    background-color: rgb(255, 255, 255); 
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}
/*-------------STYL STOPKI-------------*/
#footer{
    text-align: center;
    background-color: #30313f;
    font-size: 20px;
    color: white;
}

/*-------------ZAWARTOSC MENU NAWIGACYJNEGO-------------*/
.sticky{

    width: 100%;
    position: fixed; 
    left: 0; 
    top: 0;  
    z-index: 100; /* aby element byl nad wszystkim */
}
.nav > ol{
    padding: 0;
    margin:0;
    list-style-type: none; /* usuwa elementy stylizowania listy np. 1 */
    font-size: 18px;
    height: 35px;
    line-height: 200%; /* jak wiele mkiejsca w pionie zajmuje jedna linia */
    display: inline-block; /* tworzenie elementów blokowych które będą się układać obok siebie tak jakby miały (float:left;) przywraca wartość z .nav text-align: center; */

 }
.nav > ol a{ /* stytlizowanie hiperłącz elementu ol */
    color: rgb(39, 37, 37);
    text-decoration: none; /* usunięcie dekorowania tekstu (usuwa podkreślenia itp */
    display: black; /*ustawienie żeby ten element zachowywał się jak element blokowy */
 }
 .nav > ol > li{ /*stylizujemy element li, którego rodzicem jest element ol( stylizujemy tylko potomków ol) */
    float: left;
    width: 150px;
    height: 40px;
    border-right: 1px dashed rgb(19, 19, 80);
 }
.nav > ol > li:first-child{ /* zastosowanie opcji do pierwszego elementu w kodzie od li */
    border-left: 1px dashed rgb(19, 19, 80);
}
.nav > ol > li:hover{ /* co ma się stać po najechaniu li */
    /*background-color: #111; */
    background-color: white;
    cursor: pointer;
}
.nav > ol > li:hover > a{ /*stylizacja linku w li */
    color: black;
}

/*-------------ANIMACJA PODKREŚLENIA PO NAJECHANIU-------------*/

/* Domyślny styl dla elementu tekstu */
.text-underline {
    position: relative;
    display: inline-block;
    color: black;
    text-decoration: none;
  }
  
  /* Styl dla animacji podkreślenia */
  .text-underline::before, .text-underline::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    background-color: black;
  }
  
  /*Animacja podkreślenia*/
  .text-underline::before {
    right: 50%;
    transition: width 0.3s ease-out, right 0.3s ease-out;
  }
  
  .text-underline::after {
    left: 50%;
    transition: width 0.3s ease-out, left 0.3s ease-out;
  }
  
  /* Efekt animacji */
  .text-underline:hover::before {
    width: 50%;
    right: 0;
  }
  
  .text-underline:hover::after {
    width: 50%;
    left: 0;
  }



/*-----------------ANIMACJA PISANIA - LOGO-----------------*/
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #1b1b1b }
}
  
.typewriter  {
    overflow: hidden;
    border-right: .73em solid black;  /*<!--+3 trzeba-->*/
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .10em;
    animation:
      typing 3.5s steps(30, end),
      blink-caret .5s step-end 1;
    max-width: 72ch;                  /*<!-- +2 trzeba dodac-->*/
    animation-fill-mode: forwards;
}

/*-----------------ROZWIJANE MENU Z DEFINICJĄ-----------------*/
.definition {
    position: relative;
}

.definition::after {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    top: 30px;  /* ILE PONIŻEJ TEKSTU MA SIĘ POJAWIĆ DEFINICJA*/
    left: 0;
    padding: 5px;
    width: 200px;   /* SZEROKOŚĆ BLOKU DEFINICJI */ /* było 150 px */
    background-color: white;
    border: 1px solid black;
    text-align: center;
    z-index: 1;
    font-size: medium;
  }
  
.definition:hover::after {  /* ODPOWADA TO BLOKOWI DEFINICJI*/
    display: block;
    color: black;
    font-weight: normal;
}
  
.definition:hover {
    cursor: pointer;
    text-decoration: underline;
}
.definition > u{
    text-decoration: none;
    color: #3366cc;
}


  
  .definition::before {
    content: "?"; /* Symbol, który pojawi się przed tekstem */
    position: absolute;
    top: -6px; /* Odległość od góry */
    right: -6px; /* Odległość od prawej strony */
    font-size: 12px; /* Rozmiar czcionki */
    color: #333; /* Kolor symbolu */
    opacity: 0; /* Początkowa wartość przezroczystości */
    transition: opacity 0.3s ease-in-out; /* Efekt przejścia */
  }
  
  .definition:hover::before {
    opacity: 1; /* Przezroczystość przy najechaniu */
  }