@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@900&family=Lato:wght@700&family=Nunito:wght@300&family=Rubik+Maze&display=swap');
body{
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  background-color: white;
  margin: 0 !important;

}
/*-----------------STYLIZACJĄ NAGŁÓWKÓW-----------------*/
h1, h2{
  font-family: 'Lato', sans-serif;
  color: rgb(8, 61, 11);
}
/*-----------------SYLIZACJA NAGŁÓWKÓW V2(FIGURY)-----------------*/
h3{/*
  color: rgb(116, 7, 7);*/
  color: rgb(19, 18, 18);
}
/*-----------------SYLIZACJA OPISÓW ZDJĘĆ-----------------*/
h4{
  text-align: center;
  vertical-align: middle;
  font-size: medium;
  color: dimgrey;
}
/*-----------------DODANIE ANIMACJI PRZYBLIŻENIA-----------------*/
img{
  transition: transform 0.5s ease;    /* dodanie przybliżenia */
}

img:hover{
  transform: scale(1.1);  /* dodanie przybliżenia o 10% */
}

#wrapper{
    width: 100%;
}
#header{
    padding: 10px;
    width: 100% 0;
    background-color:  #1b1b1b;
}
/*stylizacja trojkata obok log*/
#myCanvas {
  float: left;
  margin-right: -10px;
}

#logo{
  display: flex;
  align-items: center;
  font-family: 'Rubik Maze', cursive;
  font-size: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 885px;
  color: rgb(255, 255, 255);
}
#content{
    padding: 20px 0;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
/*stylizacja oddzielaczy*/
hr{
  border: none;
  height: 1px;
  background-image:
  linear-gradient(to right, #ffffff,grey, #000000);
}

/*-------------KOLORY NAWIGACJI-------------*/
.nav{
    background-color: rgb(255, 255, 255); 
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}
/*-------------STYL STOPKI-------------*/
#footer{
    text-align: center;
    background-color: #30313f;
    font-size: 20px;
    color: white;
}

/*-------------ZAWARTOSC MENU NAWIGACYJNEGO-------------*/
.sticky{

    width: 100%;
    position: fixed; 
    left: 0; 
    top: 0;  
    z-index: 100; /* aby element byl nad wszystkim */
}
.nav > ol{
    padding: 0;
    margin:0;
    list-style-type: none; /* usuwa elementy stylizowania listy np. 1 */
    font-size: 18px;
    height: 35px;
    line-height: 200%; /* jak wiele mkiejsca w pionie zajmuje jedna linia */
    display: inline-block; /* tworzenie elementów blokowych które będą się układać obok siebie tak jakby miały (float:left;) przywraca wartość z .nav text-align: center; */

 }
.nav > ol a{ /* stytlizowanie hiperłącz elementu ol */
    color: rgb(39, 37, 37);
    text-decoration: none; /* usunięcie dekorowania tekstu (usuwa podkreślenia itp */
    display: block; /*ustawienie żeby ten element zachowywał się jak element blokowy */
 }
 .nav > ol > li{ /*stylizujemy element li, którego rodzicem jest element ol( stylizujemy tylko potomków ol) */
    float: left;
    width: 150px;
    height: 40px;
    border-right: 1px dashed rgb(24, 63, 14);
 }
.nav > ol > li:first-child{ /* zastosowanie opcji do pierwszego elementu w kodzie od li */
    border-left: 1px dashed rgb(19, 19, 80);
}
.nav > ol > li:hover{ /* co ma się stać po najechaniu li */
    /*background-color: #111; */
    background-color: white;
    cursor: pointer;
}
.nav > ol > li:hover > a{ /*stylizacja linku w li */
    color: black;
}

/*-------------ANIMACJA PODKREŚLENIA PO NAJECHANIU-------------*/

/* Domyślny styl dla elementu tekstu */
.text-underline {
  position: relative;
  display: inline-block;
  color: black;
  text-decoration: none;
}
  
  /* Styl dla animacji podkreślenia */
.text-underline::before, .text-underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  background-color: black;
}
  
  /*Animacja podkreślenia*/
.text-underline::before {
  right: 50%;
  transition: width 0.3s ease-out, right 0.3s ease-out;
}
  
.text-underline::after {
  left: 50%;
  transition: width 0.3s ease-out, left 0.3s ease-out;
}
  
  /* Efekt animacji */
.text-underline:hover::before {
  width: 50%;
  right: 0;
}
.text-underline:hover::after {
  width: 50%;
  left: 0;
}



/*-----------------ANIMACJA PISANIA - LOGO-----------------*/
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.typewriter  {
  padding-left: 20%;
}

/* opcje dla dark mode*/
/*color: rgb(228, 65, 65);  linear-gradient(to right, #51ff00, #1ec4da, #2500fa);*/
body {
  transition: background-color 0.5s ease;
}
.dark-mode {
  background-color: #2a2a2a;
  color: #e2e2e2;
 
}
.dark-mode h1{
  color:white;
}
.dark-mode h2{
  color:white;
}
.dark-mode hr{
  background-image:
  linear-gradient(to right, #ffffff, #2a2a2a);
}
.dark-mode h3{
  color: #ffffff;
}
.dark-mode h4{
  color:gainsboro;
}

.dark-mode .png {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.dark-mode .definition-text > u {
    text-decoration-color: rgb(143, 140, 139);
}
.dark-mode .definitionimg .definition-tooltip {
  background-color: #2a2a2a;
}
.dark-mode .definition::after{
  background-color: #2a2a2a;
}
.dark-mode .definition:hover::after {
  color: #e2e2e2;
}
.dark-mode .definition > u {
  text-decoration-color: rgb(143, 140, 139);
}
/*guzik darkmode*/
.toggle-container {
  display: inline-block;
  align-items: center;
}
.toggle-container input[type=checkbox] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.toggle-container label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;/*
  padding: 5px;*/
  position: relative;
  height: 26px;
  width: 50px;
}
.toggle-container label::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  display: block;
  height: 22px;
  margin-top: 2px;
  margin-left: 2px;
  position: absolute;
  top: 0;
  transition: transform 0.2s ease-in-out;
  width: 22px;
}
.toggle-container input:checked + label::after {
  transform: translateX(24px);
}