body{
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-family: 'Nunito', sans-serif

}

/*-----------------STYLIZACJĄ NAGŁÓWKÓW-----------------*/
h1, h2{
    font-family: 'Lato', sans-serif;
    color: rgb(8, 61, 11);
}

/*-----------------SYLIZACJA NAGŁÓWKÓW V2(FIGURY)-----------------*/
h3{
    color: rgb(116, 7, 7);
}

/*-----------------SYLIZACJA OPISÓW ZDJĘĆ-----------------*/
h4{
    text-align: center;
    vertical-align: middle;
    font-size: medium;
    color: dimgrey;
}
/*-----------------DODANIE ANIMACJI PRZYBLIŻENIA-----------------*/
img{
    transition: transform 0.5s ease;    /* dodanie przybliżenia */
}

img:hover{
    transform: scale(1.1);  /* dodanie przybliżenia o 10% */
}

/*-----------------STYLIZACJA 1 ELEMENTU(CO TO FRAKTALE?)-----------------*/
.prawo-fraktal{
      float: right; 
      text-align: center;
      vertical-align: top;
      width: 40%;               
      position: relative;
      top:  90px;              
      
}

.prawo-fraktal > img{
    position: relative;
    width: 350px;
    transition: transform 0.5s ease;   
}

.lewo-fraktal {
      text-align: left;
      float: left;
      vertical-align: top;
      width: 60%;
      
}
/*stylizacja canvas 2(iteracyjny)*/
#trojkat{
    transform: rotate(180deg);
}
.draw_sierpinski {
    display: grid;
    place-items: center; /* wyśrodkowanie w obu kierunkach */
}
#draw_sierpinski {
    position: relative;
    width: 300px;
    height: 350px;
}

#reset {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#iteracja{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



/*-------------FRAKTALE PRZEDSTAWIENIE-------------*/

 .triangle-picture, .Krzywa-picture, .Mandelbrot-picture, .drzewo-picture, .dywan-picture{
    float: right;
    text-align: center;
    vertical-align: top;
    width: 40%;               
    position: relative;
    top:  90px;              
    
}
.triangle-picture > img{
    width: 350px;
}

.Krzywa-picture > img{
    width: 350px;
    position: relative;
    top: 20px;
}
.Mandelbrot-picture > img{
    width: 350px;
}
.drzewo-picture > img{
    width: 350px;
}
.dywan-picture > img{
    width: 350px;
}
.triangle, .Krzywa, .Mandelbrot, .drzewo, .dywan{
    text-align: left;
    float: left;
    vertical-align: top;
    width: 60%;
}
/*-----------------Fraktale w naturze-----------------*/
.real{
    display: inline-block;
}
.real > img{
    width: 400px;
    border-radius: 10px;
    height: 300px;
}

