body{
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-family: 'Nunito', sans-serif

}
/*-----------------STYLIZACJĄ NAGŁÓWKÓW-----------------*/
h1, h2{
    font-family: 'Lato', sans-serif;
    color: rgb(8, 61, 11);
}
/*-----------------SYLIZACJA NAGŁÓWKÓW V2(FIGURY)-----------------*/
h3{
    color: rgb(116, 7, 7);
}
/*-----------------SYLIZACJA OPISÓW ZDJĘĆ-----------------*/
h4{
    text-align: center;
    vertical-align: middle;
    font-size: medium;
    color: dimgrey;
}
/*-----------------DODANIE ANIMACJI PRZYBLIŻENIA-----------------*/
img{
    transition: transform 0.5s ease;    /* dodanie przybliżenia */
}

img:hover{
    transform: scale(1.1);  /* dodanie przybliżenia o 10% */
}

/*-----------------STYLIZACJA 1 ELEMENTU(CO TO FRAKTALE?)-----------------*/
.prawo-fraktal{
      float: right; 
      text-align: center;
      vertical-align: top;
      width: 40%;               
      position: relative;
      top:  90px;              
      
}

.prawo-fraktal > img{
    position: relative;
    width: 350px;
    transition: transform 0.5s ease;   
}

.lewo-fraktal {
      text-align: left;
      float: left;
      vertical-align: top;
      width: 60%;
      
}
/*stylizacja canvas 2(iteracyjny)*/
#trojkat{
    transform: rotate(180deg);/* obrocenie trojkaata o 180 stopni*/
}
.draw_sierpinski {
    display: grid;
    place-items: center; /* wyśrodkowanie w obu kierunkach */
}
#draw_sierpinski {
    position: relative;
    width: 300px;
    height: 350px;
}
#reset {
    position: absolute;
    bottom: -20;
    right: 0;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px; 
     
}
#iteracja{
    position: absolute;
    bottom: -20;
    left: 0;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px;  
}
#reset:hover{
    transform: scale(1.1); 
}
#iteracja:hover{
    transform: scale(1.1); 
}
/*-------------FRAKTALE PRZEDSTAWIENIE-------------*/
.triangle, .Krzywa, .Mandelbrot, .drzewo, .dywan, .Smok-Heighwaya, .Krzywa-Levy, .Kostka-Mengera{
    text-align: left;
    float: left;
    vertical-align: top;
    width: 60%;
}
.triangle-picture, .Krzywa-picture, .Mandelbrot-picture, .drzewo-picture, .dywan-picture, .Smok-Heighwaya-picture, .Krzywa-Levy-picture, .Kostka-Mengera-picture{
    float: right;
    text-align: center;
    vertical-align: top;
    width: 40%;               
    position: relative;
    top:  90px;              
    
}
#Cantor-Canvas3{
    
}
.dark-mode #Cantor-Canvas3{
    margin-left: -10px;
    width: 980px;
    height: 200px;
}

/*ustawianie wielkosci zdjec fraktali*/
.triangle-picture > img{
    width: 350px;
}
.Krzywa-picture > img{
    width: 350px;
    position: relative;
    top: 20px;
}
.Etapy > img{
    width: 200px;
}
.Mandelbrot-picture > img{
    width: 350px;
}
.drzewo-picture > img{
    width: 350px;
}
.dywan-picture > img{
    width: 350px;
}
.Smok-Heighwaya-picture > img{
    width: 350px;
    border-radius: 10px;
}
.Krzywa-Levy-picture > img{
    width: 350px;
    border-radius: 10px; 
}
.Kostka-Mengera-picture > img{
    width: 350px;
    border-radius: 10px;  
    
}
/* fraktale w grafice komputerowej */
.computer{
    display: inline-block;
}
.computer > img{
    width: 400px;
    border-radius: 10px;
    height: 300px;
}
/*-----------------Fraktale w naturze-----------------*/
.real{
    display: inline-block;
}
.real > img{
    width: 400px;
    border-radius: 10px;
    height: 300px;
}

